@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:#050816;
    color:#fff;
}

a{
    text-decoration:none;
    color:inherit;
}

button,
input{
    border:none;
    outline:none;
    font-family:'Poppins', sans-serif;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

header{
    width:100%;
    border-bottom:1px solid rgba(255,255,255,.08);
    background:#0b0f1a;
}

.navbar{
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    font-size:2rem;
    font-weight:700;
    color:#d991ff;
}

.nav-links{
    display:flex;
    gap:30px;
    align-items: center;
}

.nav-links a{
    color:#cfcfcf;
    transition:.3s;
}

.nav-links a:hover{
    color:#00e5ff;
}

.btn{
    background:linear-gradient(90deg,#c84dff,#00e5ff);
    color:#fff;
    padding:12px 24px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
    font-weight:600;
}

.btn:hover{
    opacity:.8;
}

.card{
    background:#0d111f;
    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
}